.form-login {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

@font-face {
    src: url("./font/BMJUA_otf.otf");
    font-family: "BM_jua";
}

p {
    font-family: "BM_jua";
}